body{
  color: #203c14;
  font-family: 'Open Sans', sans-serif;
  background-color: #fdfdf5;
  margin:0px;
  width:100%;
  height:100%;
  font-size: 22px;
  letter-spacing: 1.5px;
}

a:link {
  color: #203c14;
}

a:visited {
  color: #203c14;
}

a:hover {
  color: #203c14;
}

a:active {
  color: #203c14;
}

button{
  background-color: #203c14 !important;
}

h1
{
  font-size: 60px;
  letter-spacing: 4px;
}

h2
{
  font-size: 35px;
}

h3
{
  font-size: 22px;
}

h4
{
  font-size: 100px;
  letter-spacing: 6px;
}

h5
{
  font-size: 35px;
  text-align: left;
  margin-top: 50px;
  margin-left: 30px;
  font-weight: 500;
}

h6
{
  font-size: 35px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 165px;
}

.bottomnav {
  overflow: hidden;
  position: absolute;
  right:0px;
}

.bottomnav a {
  text-align: right;
  transition: all 500ms;
  padding: 20px 5px;
  text-decoration: none;
  font-size: 21px;

}
.bottomnav a:hover {
  font-size: 20px;
}

#navHome{
  text-align: right;
  transition: all 300ms;
  text-decoration: none;
  font-size: 21px;
}

#navHome:hover{
  color: #505E4A;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column {
  float: center;
  width: 33.33%;
  padding: 5px;
}

.container {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 65px;
}

.container2 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 155px;

}

.header {
   padding: 30px;
   text-align: center;
   font-size: 15px;
 }

.h7{
  margin-left: 10%;
}

#mainTextBanner{
  font-size: 18px;
  font-weight: bolder;
  color: #000;
  word-spacing: -3px;
}

.modal-body{
  font-size: 16px;
  margin-left: 15px;
  word-spacing: -3px;
}

.modal-content{
    background-color: #fdfdf5;
    margin:0px;
    width:100%;
    height:100%;
    color: #203c14;
    font-family: 'Open Sans', sans-serif;
}

.pageContent{
  margin-right: 70px;
  margin-left: 70px;
}

.pageContentModal{
  margin-right: 30px;
}

.row{
  padding-bottom: 30px;
  padding-right: 10px;
  margin-right: 20px;
}

.row:hover{
  opacity: 50%;
  transition:0.5s;
  cursor: pointer;
}

.tagline
{
  text-align:right;
  padding-top: 5px;
  margin-bottom: 20px;
  margin-left: 190px;
  letter-spacing: 1.5px;
  font-size: 25px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  font-size: 20;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  text-decoration: underline;
}

.usblurb {
   font-size: 13px;
   margin-left: 40px;
}

.wrapimage {
 float: left;
 padding: 0 40px 0 0;}
